
<div class="logo">
    <a href="https://ultrasoundchile.cl/" class="simple-text logo-mini">
      <div class="logo-img">
          <img src="./assets/img/LOGO ULTRA SOUND ok_Mesa de trabajo 1 copia 4.png"/>
      </div>
    </a>
    <a class="simple-text logo-normal">
        Web
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li  *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a [routerLink]="[menuItem.path]">
                <i class="now-ui-icons {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>

    <ul class="nav" style="padding-top: 500px;">
        <li >
            <!-- <a [routerLink]="[cerrarSesion]">
                <i class=" now-ui-icons ui-1_simple-remove"></i>
                <p>Cerrar Sesion</p>
            </a> -->

            <a (click)="modalCerrarSesionFuncion()">
                <i class=" now-ui-icons ui-1_simple-remove"></i>
                <p>Cerrar Sesion</p>
            </a>
        </li>
    </ul>

</div>


<div *ngIf="modalCerrarSesion" class="overlay">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Salir del sistema</h5>
          <button type="button" class="close" (click)="CancelarSalirSistema()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="modal-body">
           <label for="">Desea Salir de Ssitema ? </label>
          </div>
        </div>
        <div class="modal-footer">
          <!-- Botones para acciones en el modal -->
          <button class="btn btn-primary" style="margin: 20px;" (click)="salirSistema()">Aceptar</button>
          <button class="btn btn-danger" style="margin: 20px;" (click)="CancelarSalirSistema()" >Cancelar</button>
        </div>
      </div>
    </div>
  </div>